<h1 class="m-5">Lista y Estado de las tareas</h1>
<div class="row container m-5">
  <div class="col-6">
    Pendiente
    <% @todos.each do |t|%>
      <% if t.completed != true %>
        <div class="">
          <%= t.description%>
        </div>
      <% end%>
    <% end%>
  </div>

  <div class="col-6">
    Completado
    <% @todos.each do |t|%>
      <% if t.completed == true %>
        <div class="">
          <%= t.description%>
        </div>
      <% end%>
    <% end%>
  </div>

</div>
<div class="container m-5">
  <%= link_to "Volver al index", todos_index_path, class: 'btn btn-primary'%>

</div>
