<h1 class="m-5">Lista y Estado de las tareas</h1>
<div class="row">
  <div class="col-6">
    Pendiente
    <% @todos.each do |t|%>
      <% if t.completed != true %>
        <div class="">
          <%= t.description%>
        </div>
      <% end%>
    <% end%>
  </div>

  <div class="col-6">
    Completado
    <% @todos.each do |t|%>
      <% if t.completed == true %>
        <div class="">
          <%= t.description%>
        </div>
      <% end%>
    <% end%>
  </div>



</div>
