<h1 class="m-5">Mostrar la descripcion de la tarea</h1>
<p class="p1">La tarea :<%= @todo.description%></p>
<p class="p1">Esta completada?</p>
<br>
<% if @todo.completed == true %>
  <label> Realizado</label>
<% else%>
  <label> Pendiente</label>
<% end %>
